@media (max-width: 768px) {
  .text-body-emphasis {
      font-size: 1.5rem; /* Adjust font sizes for readability on smaller screens */
  }
  .profilepicture {
      max-width: 100%; /* Ensure images resize properly */
      height: auto;
  }
}



section>div {
    border:1px solid transparent
}

.gradient-background{
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.first{
    background-color: blue;
}
.profilepicture{
    border-radius: 50%;

}

.name {
  font-weight: 400;
  font-style: normal;
  }


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container h1{
  font-size: 42px;
}
.container h1 span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  font-size: 52px;
}
.description{
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
}

