@media (max-width: 768px) {
  .text-body-emphasis {
      font-size: 1.5rem; /* Adjust font sizes for readability on smaller screens */
  }
  .profilepicture {
      max-width: 100%; /* Ensure images resize properly */
      height: auto;
  }
}


section>div {
    border:1px solid transparent
}

.gradient-background{
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.first{
    background-color: blue;
}
.profilepicture{
    border-radius: 50%;
}

.name {
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  }

